.objectCover {
    object-fit:cover;
}
@media screen and (max-width: 500px) {
    .extra_s_12 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 100%;
    }
}
.logoConatiner {
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}
.relative-p {
    position: relative;
}
.homeIcons {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:12px;
}
.homeTopIcons {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top:12px;
}
.footer {
padding: 20px 0;
text-align: center;
}
.bottomConatiner {
    background-color: #fff;
}
@keyframes my-animation {
    from {
       transform: scale(0.8);

    }
    to {
       
       transform: scale(1);
    }
   
  }
.heroImage {
    /* animation properties */
    animation: my-animation 6s ease ;
border-radius: 50%;
overflow: hidden;

  animation-direction: alternate;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  
  }
  .heroImage * {
    object-fit: cover !important;
  }
  .roundBox {
    border-radius: 25px;
    overflow:hidden;
}
.roundBox input {
    border:none !important;
    box-shadow: none;
    padding: 15px 30px;
    padding-left:40px;
}
.roundx .ais-SearchBox-form {
    height:auto;
}